p {
    width: 200px;
    color: lightgrey;
    background: grey;
    padding: 10px 20px;
    border: 2px dotted;
    margin-bottom: 30px;
}

div {
    background-color: lightgrey;
    width: 200px;
    padding: 10px;
    margin-bottom: 30px;
}

section {
    width: 200px;
    border: 10px solid lightgrey;
}