.row1, .row2, .row3 {
    clear: both;
}

.row1 {
    font-size: 0px;
}

.row3 {
    position: relative;
}

.box {
    background-color:red;
    height: 150px;
    width: 150px;
}

#one, #two, #three{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

#four, #five, #six{
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* #seven {
    position: relative;
}
*/
#eight {
    position: absolute;
    left:170px;
    top: 0px;
}

#nine {
    position: absolute;
    left: 340px;
    top: 0px;
}

