.row1, row2, row3 {
    clear:both;
}

.box {
    background-color:red;
    height: 150px;
    width: 150px;
}

#one, #two, #three{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

#four, #five, #six{
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#seven {
    position: relative;
    top:170px;
}

#eight {
    position: absolute;
    left:170px;
}

#nine {
    position: absolute;
    left: 340px;
}

